@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;600,800&display=swap');
@import 'reset.css';
@import 'status-bar.css';
@import 'header.css';
@import 'nav-bar.css';
@import 'friend.css';
@import 'friends.css';
@import 'find.css';
@import 'more.css';
@import 'settings.css';
@import 'chat.css';

* {
    box-sizing: border-box;
}

body {
    background-color: white;
    padding: 10px 20px;
    color: #202020;
    font-family: 'Roboto', sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

@keyframes fadein{
    from{
        opacity: 0;
        transform: translateY(-50px);
    }
    to {
        opacity: 1;
        transform: none;
    }
}

main{
    animation: fadein 0.5s ease-in-out;
}

#no-mobile {
    position: absolute;
    z-index: 99;
    height: 100vh;
    width: 100vw;
    background-color: #FAE202;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    top: 0;
}

@media screen and (max-width:645px){
    #no-mobile {
        display: none;
    }
}